
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import url('https://db.onlinewebfonts.com/c/0210e8c7a07c76189f47127049f61dd5?family=Pixeloid+Sans');

@import url('https://db.onlinewebfonts.com/c/d5075ebf15c6a1d89e8ed3e20d1c4d7b?family=Product+Sans+Medium');

@import url('https://db.onlinewebfonts.com/c/3fc5c57cfac020b6611b4b2a985671b0?family=Product+Sans+Black');



@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

  @keyframes fadeUp {
    0% { opacity: 0; 
        transform: translate(0, 10vh);}
    100% { opacity: 1;
        transform: translate(0, 0); }
  }



:root{
    --primary-color:  #b5f9c9;
    --secondary-color: #000000e1;
    --gradient-color1: #efefef;
}



body{
    transition:1s;
    background: var(--gradient-color1);
}

.bg-image{
    position: absolute;
    top: 0px;
}

.font{
	color: var(--secondary-color);
    font-family: 'Product Sans';
}

#header{
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
    z-index:9000;
    transition: 0.1s;
    padding: 2px;
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#header img{
    opacity:90%;
}


#header.active{
    top:0px;
    border: 2px solid rgba(0, 0, 0, 0.278);
    background-color: var(--gradient-color1);

}

.header-spacing{
    padding-bottom: 40px;
}

#canvasOutput{
    padding: 0px;
    border-radius: 30px;
    scale: 0.9;
    box-shadow: -23px 23px 0px rgb(255, 255, 255), -23px 23px 0px 1px rgb(0, 0, 0);
    margin-bottom: 10px;
    border: 1px solid black;

}

.mood-part{
    width:100%;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0);

}

.emotion{
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.378);
    min-width: 150px;
    margin-top: 20px;
    font-size: 40px;
    transition: 0.5s;
    font-weight: lighter;
}

.espace{
    height:200px;
}

.nav-link{
    color: black;
    opacity: 50%;
    transition: 0.5s;
}

.nav-link:hover{
    color: black;
    opacity: 60%;
}

.rec{
    width: fit-content;
    border-radius: 40px;
    align-self: center;
    padding: 10px 25px 10px 25px;
    background-color: rgb(255, 236, 236);
    color: red;
    border: 0px solid rgb(255, 0, 0);
    box-shadow: 5px 5px 0px rgb(255, 0, 0);
    transition: 0.3s;
    font-size: 1.3rem;
    font-family:"Product Sans Medium";
}

.rec:hover{
    box-shadow: 3px 3px 0px 0px rgb(255, 0, 0);
    transition: 0.3s;
    background-color: rgb(255, 242, 242);
}

.rec:active{
    box-shadow: 0px 0px 0px 2px rgb(255, 0, 0);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}



.fa-circle-dot{
    
    padding-right: 10px;
}

.fa-arrow-rotate-right{
    
    padding-right: 10px;
}

.music{
    border: 0px;
    text-align: center;
    border-radius: 30px;
    margin-top: 40px;
    background-color: #ffffff2a;
    border: 1px solid black;
    aspect-ratio: 1.4;
}

.music h2{
    margin-top: 25px;
    opacity: 70%;
}

#music-type{
    display: none;
}

.music-container{
    padding: 10px 20px 20px 20px;
}

.music-container iframe{
    background-color: #dadada;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius:15px;
    width: 100%;
    animation: fadeUp 1s;
}


#about-container{
    width: 95%;
    background-color: rgba(255, 255, 255, 0.321);
    border-radius: 30px;
    padding: 40px 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;  
    border:1px solid black;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.403);
    transition: 0.3s;

}

#about-container:hover{
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.403);
    transition: 0.3s;
    background-color: rgb(247, 247, 247);

}

#about-container h1{
    font-family: "Product Sans Medium";
    margin-bottom: 20px;
    opacity: 85%;
    font-size: 50px;
}

#about-container p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.666);
}


